/* 
    Document   : financeiroFormat
    Created on : 21/05/2013, 14:47:44
    Author     : Incubadora2
    Description:
        Purpose of the stylesheet follows.
*/

.FinanceirobackGround{
    -fx-background-color: #dbf1da;
}

